// 
// _dashboard.scss
// 
.custom-disable {
  opacity: 0.4;
  cursor: auto;
}

.custom-enable {
  cursor: move;
}

.dot-blue {
  color: blue;
  font-weight: bold;
}

.dot-green {
  color: green;
  font-weight: bold;
}

.dot-red {
  color: red;
  font-weight: bold;
}
