
//Import Icon scss
@import "./assets/scss/icons.scss";

//import Light Theme
@import "./assets/scss/bootstrap.scss";
@import "./assets/scss/app.scss";

//Import Dark theme
// @import "./assets/scss/bootstrap-dark.scss";
// @import "./assets/scss/app-dark.scss";

// RTL mode
// @import "./assets/scss/bootstrap.scss";
// @import "./assets/scss/app-rtl.scss";


.button-custom {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 17px;
    height: 45px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg, #5522fa 0, #0074e4 100%);
    border-radius: 50px;
    transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    &:hover {
      box-shadow: 0 0 0 0.15rem #5ceace;
    }
  }
  
  .button-custom-green {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 17px;
    height: 45px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(
      90deg,
      #388e3c 0%,
      #66bb6a 100%
    ); /* Darker MUI success gradient */
    border-radius: 50px;
    transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
  
    &:hover {
      background: linear-gradient(
        90deg,
        #2c6f2f 0%,
        #4caf50 100%
      ); /* Darker green on hover */
      box-shadow: 0 0 0 0.15rem rgba(76, 175, 80, 0.6); /* Subtle green shadow */
    }
  }
  
  #sidebar-menu::-webkit-scrollbar {
  width: 8px;
}

#sidebar-menu::-webkit-scrollbar-track {
  background: transparent;
}

#sidebar-menu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); // Native-like light thumb
  border-radius: 4px;
}

#sidebar-menu {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

  .button-custom-red {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 17px;
    height: 45px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(
      90deg,
      #e32636 0%,
      #f44336 100%
    ); /* Red gradient */
    border-radius: 50px;
    transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
  
    &:hover {
      box-shadow: 0 0 0 0.15rem rgba(255, 99, 71, 0.6); /* Slight red hover shadow */
    }
  }
  
  .accordian-bg-products {
    background-color: $gray-300;
  }
  
  .modal-header-bg {
    // background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    // background: linear-gradient(90deg, rgba(85, 34, 250, 0.8) 0%, rgba(0, 116, 228, 0.8) 100%), rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #708090;
  }

  .modal-body-bg {
    background-color: #f8f9fa;
    font-family: "sans-serif";
    font-weight: 500;
    font-style: normal;
  }
  
  .modal-font {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.accordian-bg-products {
    background-color: $gray-300;
}

.nav-link {
    cursor: pointer;
}

.dataTables_filter, .dataTables_paginate
{
    float: right;
    .pagination {
            .page-link {
                border-radius: 30px !important;
                margin: 0 3px;
                border: none;
                text-align: center;
                cursor: pointer;
            }
    }
}

.rdw-editor-main
{
    border: 1px solid  $gray-300;
    height: 239px;
}
.dz-message
{
     text-align: center;
    padding: 100px;
}

.react-datepicker-wrapper
{
    width: 100%!important;
}

.ReactModal__Overlay
{
  z-index: 1001!important;
}

.rangeslider__fill {
    background-color: $primary !important;
}

.react-bootstrap-table{
    padding-top: 0px!important;
}

.square-switch
{
 .react-switch-bg
 {
 border-radius : 5px!important;
 }   
}

input[type="range"] {
    -webkit-appearance: auto!important;
}

.chat-conversation-height {
        min-height: 500px;
}

.expand-cell{
    cursor: pointer!important;
}


.e-schedule.schedule-drag-drop .e-timeline-month-view .e-resource-left-td, .e-schedule.schedule-drag-drop .e-timeline-view .e-resource-left-td{
  width: 180px !important;
}

